h2.section__title
  | Investment or Currency?

p.main-text
  | Cryptocurrency valuations have skyrocketed, and though they have fallen from their December 2017 peak, current cryptocurrency prices represent astronomical increases over the last year, and even more so over the lifetime of these currencies. The rise of cryptocurrencies has made many millionaires and billionaires, at least on paper. Many holders of cryptocurrencies have no immediate interest in using them as currency, but rather as an investment. We have sought to quantify both interest in cryptocurrencies, and the possibilities of using them as actual currency. While Bitcoin is only one currency among many, it also has the most highly developed infrastructure and widest acceptance by vendors in the real world. We have therefore used Bitcoin infrastructure, such as ATMs, vendors, and establishments accepting it as payment, etc as a proxy for use value and usability.