.main-block
  .breadcrumbs__wrap
    .breadcrumbs__item
      a.breadcrumbs__link(href='')
        | Home
    .breadcrumbs__item
      a.breadcrumbs__link(href='')
        | Reports
    .breadcrumbs__item
      | Top States Where Cryptocurrency Is Catching On

  .main-block__text
    h1.main-block__title
      | Top States Where Cryptocurrency Is Catching On

    p.main-block__text-item
      | RewardExpert analyzed search traffic and geographical data to see which states’ residents are most interested in cryptocurrencies, and where you can most easily use them for purposes other than investment.

    p.main-block__author
      | RewardExpert

  .main-block__mask
