h2.section__title Methodology
.methodology__content
  img.methodology__img(src='images/svg/methodology-icon.svg')
  .methodology__text
    p.methodology__text-item
      | To determine relative levels of interest in cryptocurrency, RewardExpert analyzed Google Trends search engine traffic data for five keywords: “cryptocurrency”, “bitcoin”,  “ethereum”, “ripple”, and “litecoin”, over the 90 day period from October 29th 2017 to January 29th 2017, at the state level. We computed a weighted average of these terms for each state and ranked the states accordingly.

    p.methodology__text-item
      | We used GIS data containing the locations of all known establishments that accept Bitcoin as a form of payment, as well as Bitcoin ATMs, to gauge the usability of cryptocurrencies for purchases and other transactions. As data for other currencies was difficult to come by, we used Bitcoin as a proxy for all currencies. We obtained a count of the total number of establishments and ATMs in each state and calculated the number per capita and ranked the states accordingly.

    p.methodology__text-item
      | An overall rank was derived by averaging interest and infrastructure.

.methodology__sources.methodology__sources--indicators
  h3.methodology__sources-title
    | Sources:

  ul.methodology__sources-list
    li.methodology__sources-list-item
      | Google Trends

    li.methodology__sources-list-item
      | ESRI ArcGIS Open Data
