h2.section__title
  | Top Ten States 
  br
  | with Most Combined Interest and Infrastructure

.top-rate
  .top-rate__illustration
    +ilustration_svg

  ol.top-rate__list(type="a")
    li.top-rate__item
      | 1. New York

    li.top-rate__item
      | 2. Nevada

    li.top-rate__item
      | 3. Washington, D.C.

    li.top-rate__item
      | 4. California

    li.top-rate__item
      | 5. Colorado

    li.top-rate__item
      | 6. Florida

    li.top-rate__item
      | 7. Utah

    li.top-rate__item
      | 8. New Hampshire

    li.top-rate__item
      | 9. Washington

    li.top-rate__item
      | 10. Michigan
