h2.section__title
  | A Very Short Introduction to Cryptocurrency

.upper__content
  .upper__pic
    img.upper__pic-img(src='images/svg/main-icon.svg')

  .upper__text
    p.upper__text-under-title
      | Recent surveys indicate nearly 80% of U.S. adults have heard of cryptocurrencies, whether it be Bitcoin or Ethereum, or one of at least 1,500 more coins and tokens in circulation. Only about 10% have some amount of assets in cryptocurrency, and more than half remain skeptical and/or suspicious of them, in no small part due to a lack of clear knowledge and familiarity with these currencies. It is thus important to begin by answering the question: 
      span.semibold “What is cryptocurrency?”

    p.upper__text-main
      | Cryptocurrencies are based upon Blockchain technology, also known as the distributed ledger. Put simply, this means that a complete record of every transaction ever made with a cryptocurrency coin or token is maintained and stored across a cryptocurrency network. Coins cannot be spent twice, for instance, and fraudulent actors cannot falsify the transaction record unless they control an absolute majority of the computing resources in the network. New coins are created in a process called “mining” which has computers compete to be the first to complete the task of adding a new “block” of transactions to the “chain.” In short, the biggest appeal of cryptocurrencies is that they function in a world completely without the need for trust in third-party actors, only trust in mathematics and computation.
